/**
 * @name         RDMTheme
 * @description  A random theme and none of it is my code
 * @author       Sockzy
 * @version      1.1
 * @source       https://sockzy.github.io/BD-CustomCSS/RDMTheme.css
 * @website      https://github.com/Sockzy/BD-CustomCSS 
 * @authorId     
 */



/* Hello this theme is a mashup of radiail status, member list hide, and a cursor the barly functions. You can add or turn off any of the code by doing "/*"
/* none of this is my code and i have no ownership of any of what you will see below./*
/* this first import is the cursor*/
@import url('https://accrazed.github.io/YoRHA-UI-BetterDiscord/NieR-Cursor.css');
/* next import is the radial status( there is also a second part of this code with will be under everthing.)*/
@import url('https://sockzy.github.io/BD-CustomCSS/Rimport.css');
/* next import is member list hide*/
@import url('https://sockzy.github.io/BD-CustomCSS/list%20hide.css');
/* this is the second part to radial status*/
@import url('https://sockzy.github.io/BD-CustomCSS/Font.css');
/*this import is the font*/
@import url('');
/*this is the background. changeable by copy and pasting the code in this file */
:root {
  --rs-small-spacing: 2px;  /* spacing between avatar and status */
  --rs-large-spacing: 3px;  /* spacing between avatar and status for user popouts & modals/profiles */
  --rs-width: 2px;  /* Width/thickness of status border */
  --rs-avatar-shape: 50%;  /* 50% for round - 0% for square */
  --rs-online-color: #43b581;  /* color for online status */
  --rs-idle-color: #faa61a;  /* color for idle status */
  --rs-dnd-color: #f04747;  /* color for dnd status */
  --rs-offline-color: #636b75;  /* color for offline status */
  --rs-streaming-color: #643da7;  /* color for streaming status */
  --rs-invisible-color: #636b75;  /* color for invisible status - Note this will only show for your own invisibility */
}

/* if you want to use this copy and paste this into a custom css or a .theme.css file (DM 𝑆ockzy#3458 on discord for the file)  */
