/**
 * @name         RDMTheme
 * @description  A random theme and none of it is my code
 * @author       Sockzy
 * @version      1.0
 * @source       https://sockzy.github.io/BD-CustomCSS/RDMTheme.css
 * @invite       
 * @authorId     
 */



/* Hello this theme is a mashup of radiail status, member list hide, and a cursor the barly functions. You can add or turn off any of the code by doing "/*"
/* none of this is my code and i have no ownership of any of what you will see below./*
/* this first import is the cursor*/
@import url('https://sockzy.github.io/BD-CustomCSS/cursor.css');
/* next import is the radial status( there is also a second part of this code with will be under everthing.)*/
@import url('https://sockzy.github.io/BD-CustomCSS/Rimport.css');
/* next import is member list hide*/
@import url('https://sockzy.github.io/BD-CustomCSS/list%20hide.css');
/* this is the second part to radial status*/
:root {
  --rs-small-spacing: 2px;  /* spacing between avatar and status */
  --rs-large-spacing: 3px;  /* spacing between avatar and status for user popouts & modals/profiles */
  --rs-width: 2px;  /* Width/thickness of status border */
  --rs-avatar-shape: 3%;  /* 50% for round - 0% for square */
  --rs-online-color: #43b581;  /* color for online status */
  --rs-idle-color: #faa61a;  /* color for idle status */
  --rs-dnd-color: #f04747;  /* color for dnd status */
  --rs-offline-color: #636b75;  /* color for offline status */
  --rs-streaming-color: #643da7;  /* color for streaming status */
  --rs-invisible-color: #636b75;  /* color for invisible status - Note this will only show for your own invisibility */
}

/* Dababy mode
:root {
  --roundness: 50px; /* edit roundness of icons from 0px to 50px */
 --main-color: #007dbd; /* Main Color */     
  --hover-color: #03679b; /* Hover Color */
  --home-color: #eee; /* Change home icon color */
  --home-size: 24px; /* size of the home icon */
  --shadow: rgba(0,0,0,.4); /* change to darken lighten, or set to transparent */
 --background-image: url(https://media.pitchfork.com/photos/5c7d4c1b4101df3df85c41e5/1:1/w_600/Dababy_BabyOnBaby.jpg); /* change background */
  --background-blur: 0px; /* Main Background Blur */
--popup-background: url(https://s-media-cache-ak0.pinimg.com/originals/60/c4/bb/60c4bb55215c989b15b0fe144c73cf82.jpg);  /* Background for popups and modals */
  --background-darkness: 0.75; /* change the darkness of your background. 1 makes it completely black, 0 makes it like the original image */ /*
} */
/* if you want to use this copy and paste this into a custom css or a .theme.css file (DM 𝑆ockzy#3458 on discord for the file)  */
